@model IEnumerable<ZeroHu.DTOs.CollectRequestDTO>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p>
    @Html.ActionLink("Create New Request", "CreateRequest")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollectRequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPreserveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CollectRequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPreserveTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       
    </tr>
}

</table>
